<script type="text/html" id="stationListItem">
    <span class="badge"><%= count %></span>
    <div class="title">
        <a href="#station/<%= id %>" data-id="<%= id %>" class="showStation"><%= system %> - <%= name %></a>
        <a href="#toMyList" data-id="<%= id %>" class="toMyList">+</a>
    </div>
    <div class="bestProfit"></div>
</script>