<script type="text/html" id="user-info">
    <form id="userInfo" class="form-inline">
        <div class="form-group">
            <label for="cargo">Cargo: </label>
            <input id="cargo" class="form-control" type="text" value="<%= cargo %>" size="1"/>

            <label for="money">Money: </label>
            <input id="money" class="form-control" type="text" value="<%= money %>" size="9"/>
        </div>
    </form>
</script>