<script type="text/html" id="rares">
    <ul class="list-group"></ul>
</script>
<script type="text/html" id="rare-item">
    <li class="list-group-item">
        <span class="badge"><%= buy %></span>

        <div>
            <strong><%= system %> - <%= starport %></strong><br/>
            <small><%= item %></small>
        </div>
    </li>
</script>